[user]
	email = petermacchapman@gmail.com
	name = yenlegion
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
[color "decorate"]
	HEAD = 14 normal italic
	remotebranch = 13 normal
	grafted = 1 normal italic
	tag = 3 normal
	stash = 8 normal
	branch = 14 normal
[color "diff"]
	whitespace = normal reverse
	commit = 3 normal
	func = 8 normal ul
	meta = 8 normal
	frag = 8 normal ul
	old = 9 normal dim
	new = 10 normal
	newMoved = 14 normal
	oldMovedAlternativeDimmed = 4 normal dim
	oldMovedAlternative = 12 normal dim
	contextBold = normal bold
	newBold = 10 normal bold
	context = normal
	oldMoved = 14 normal dim
	oldBold = 9 normal dim bold
	newMovedDimmed = 6 normal
	newDimmed = 2 normal
	newMovedAlternative = 12 normal
	newMovedAlternativeDimmed = 4 normal
	oldMovedDimmed = 6 normal dim
	oldDimmed = 1 normal dim
[color "grep"]
	filename = 7 normal
	function = 10 normal
	column = 8 normal
	linenumber = 8 normal
[color "interactive"]
	header = 8 normal bold
	help = 8 normal
	error = 1 normal italic
	prompt = 15 4
[color "status"]
	changed = 11 normal
	unmerged = 9 normal
	nobranch = 1 normal italic
	updated = 10 normal
	localbranch = 14 normal
	added = 10 normal
	untracked = normal dim
	header = normal
	remotebranch = 13 normal
	branch = 14 normal
[color "branch"]
	remote = 13 normal dim
	upstream = 13 normal
	plain = 14 normal dim
	current = 14 normal
	local = 14 normal dim
[color "remote"]
	success = 2 normal
	error = 1 normal
	hint = normal dim
	warning = 3 normal
[init]
	defaultBranch = main
[interactive]
	diffFilter = diff-so-fancy --patch
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[diff]
	colorMoved = zebra
[maintenance]
	repo = /home/yen/.config/zsh/forgit
	repo = /home/yen/.config/zsh/LS_COLORS
	repo = /home/yen/.config/zsh/prezto
	repo = /home/yen/.config/zsh/tmux
	repo = /home/yen/.config/zsh/zcolors
	repo = /home/yen/.config/zsh/zsh-completions
	repo = /home/yen/.config/zsh/zsh-edit
	repo = /home/yen/.config/zsh/zsh-more-completions
	repo = /home/yen/.config/zsh/zsh-snap
	repo = /home/yen/.config/zsh/zsh-syntax-highlighting
	repo = /home/yen/.config/zsh/ohmyzsh
	repo = /home/yen/.config/zsh/powerlevel10k
	repo = /home/yen/.config/zsh/zsh-autocomplete
	repo = /home/yen/.config/zsh/zsh-autosuggestions
